body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    color: #00698f;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}

.image {
    width: 75%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.button-container {
    margin-top: 20px;
}

.button {
    width: 180px;
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3e8e41;
}
